---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-feature-discovery
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: node-feature-discovery
  values:
    master:
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          effect: NoSchedule
    worker:
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          effect: NoSchedule
