---
# 1Password Connect credentials
# To generate:
# 1. Go to https://my.1password.com/developer (or your 1Password account)
# 2. Create a new "Secrets Automation" integration
# 3. Download the 1password-credentials.json file
# 4. Set the onepassword_credentials_json variable in cluster.yaml with the base64-encoded content
#
# Example to encode: cat 1password-credentials.json | base64 -w0
#
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-connect-credentials
type: Opaque
stringData:
  1password-credentials.json: "#{onepassword_credentials_json}#"
---
# 1Password Connect API token for External Secrets
# Generate this token when creating the Secrets Automation integration
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-connect-token
type: Opaque
stringData:
  token: "#{onepassword_connect_token}#"
