# Redis password from 1Password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: redis-secret
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: redis-secret
    template:
      engineVersion: v2
      data:
        REDIS_PASSWORD: "{{ .password }}"
  data:
    - secretKey: password
      remoteRef:
        key: redis
        property: password
