# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
#
# Immich - Self-hosted photo and video backup
#
# Google Photos alternative with ML-based features like face recognition,
# object detection, and smart search.
#
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app immich
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: external-secrets
      namespace: external-secrets
    - name: onepassword-connect
      namespace: external-secrets
    - name: cloudnative-pg-clusters
      namespace: database
    - name: redis
      namespace: database
  path: ./kubernetes/apps/media/immich/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  timeout: 15m
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
