---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: onepassword-connect
spec:
  interval: 1h
  chart:
    spec:
      chart: connect
      version: "2.1.1"
      sourceRef:
        kind: HelmRepository
        name: onepassword-connect
  dependsOn:
    - name: external-secrets
      namespace: external-secrets
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    connect:
      credentialsName: onepassword-connect-credentials
      credentialsKey: 1password-credentials.json
      annotations:
        secret.reloader.stakater.com/reload: onepassword-connect-credentials,onepassword-connect-token
