---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: onepassword-connect
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: onepassword-connect
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    connect:
      credentials_base64: "eyJ2ZXJpZmllciI6eyJzYWx0IjoiUkNFMW9JNm00ZlJySTRPWTlYVHM3ZyIsImxvY2FsSGFzaCI6ImRBX0ZIeE9lTnpsSkxubmpqckxPVWM2RTdxckxfQ0N4R2JzRi1fUTdSRG8ifSwiZW5jQ3JlZGVudGlhbHMiOnsia2lkIjoibG9jYWxhdXRodjJrZXlraWQiLCJlbmMiOiJBMjU2R0NNIiwiY3R5IjoiYjUrandrK2pzb24iLCJpdiI6Ik5NLTlqaFV3OWRoSl8tTUoiLCJkYXRhIjoiLTlSNXhzc3VIY216OGVxRE9QNzhpcU0xT0pHLW83VkdoQlV5bGZpT3VHUHQ4S25ORTY1ZGstSmRwLTVJekN5Z3Q0TTdmdXRNbE9XS21zR0NUTmFIQ2gtNmtFcnE0MzhGR2Yyam9Ya1QySnFMZ3FRMG1LNmhLcjY2UTZ5a1Uwc2RGNXYzcWVaVjU1SkxCTFZHQkFQMC12MnJ4S3hhWV9QOXZnZmt2V1pzV21ycEtVVVBoa3B5NW1JM0Q0TFVvSzVHaFFndVZWai1jMzRheUZBU3pLVVZ1Q3hzdGtscVc3MlJiMlJRd2VUTFo1a1lJSDdVal9nN04wM1VVZ3VJc2FKeTYzVHhfNnZmREVUSDhVS1dPZV9DY3NVMDZTQzFWWkRxcV9CX0FZVnhMQVprN3h5TEk3NTJXS1A0WmNQaFRrWGxuME4xd2piak15cllHZkNTZEdmQXdPVGM1MHNXMXU4WDdwaTV6OFVWSXFzeHpWeG1PbkIwbmZUb3JCc1pOY2RtTVRvSUVMejZEMi13YkhoOEFZejBneHBmOEJNMEdfNHZObWxUV3NNZUUyamRMMEdzWkVjdlJwWm1hYjNMSkh6dlJyZm80d0JDcXhWMW0xOGl6WFlhV09sX1JJeEhodGFtd1M4X3VWZzJyZ2RIV1pJbnlpZlFzOUk2ejVPNnhRc3ljZGxCaXd0d1VUOEdBcEU3cVRhZFd5dldLXzBQcUR4bWdva1UzRnRCVFQtdlBkRUtqSEIwbWdCQ2E1eXRVQUM5NW9WU3ZiWi0wVUZacTFWRERlT2g1LUZHNmVqOVRJcjZaLW5WVGRta3I4ZkpNWUVqWmFXZ2xYU19rYmRvakQtV2VRIn0sInZlcnNpb24iOiIyIiwiZGV2aWNlVXVpZCI6InVlaGo1bnBmYmhmaWR4aXhjdWhuYmFrdTZtIiwidW5pcXVlS2V5Ijp7ImFsZyI6IkEyNTZHQ00iLCJleHQiOnRydWUsImsiOiJqWE9GRkUxX2tjMnlhLVhrd01JVHdTa1I3cGRZVmdRTUI2VnhQcHg0bUhvIiwia2V5X29wcyI6WyJlbmNyeXB0IiwiZGVjcnlwdCJdLCJrdHkiOiJvY3QiLCJraWQiOiJuNzZjNnpidnpyeGN3ajJwYnZkNDZ1ZndhdSJ9fQ=="
