---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugins-operator
spec:
  interval: 1h
  chart:
    spec:
      chart: intel-device-plugins-operator
      version: 0.34.1
      sourceRef:
        kind: HelmRepository
        name: intel
        namespace: kube-system
  values:
    tolerations:
      - key: node-role.kubernetes.io/control-plane
        effect: NoSchedule
