---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storage

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./ceph-rbd-csi/ks.yaml
  - ./truenas-nfs/ks.yaml
